.card {
    background-image: url('cardBig.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 296px;  /* Adjust width of the button */
    height: 128px;  /* Adjust height of the button */
    border: none;
    background-color: transparent;
    image-rendering: crisp-edges; /* Keeps sharp edges */
    image-rendering: pixelated; /* Best for pixel art */

    text-align: center;
    font-size: x-large;

    
}

button:active {
    filter: brightness(75%);
    background-color: deepskyblue;
    transform: scale(0.90);
}

#nameInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wsUrl {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#connectBtn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
}

.darken {
    filter: brightness(50%);
}

/* Center container horizontally */
.center-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Control vertical position independently */
.input-wrapper {
    margin-top: 300px; /* Adjust this value to control vertical position of input */
    display: flex;
    justify-content: center;
}

.button-wrapper {
    margin-top: 20px; /* Adjust this to move the button up or down */
    display: flex;
    justify-content: center;
}

/* Disabled button style */
#confirmBtn:disabled {
    filter: brightness(50%);
    cursor: not-allowed;
}
